h1 {
	font-family: "Epunda Slab", serif;
	font-weight: 700;
	font-size: 2em;
	background-color: rgb(100, 60, 10);
	padding: 10px;
}
h2 {
	font-family: "Epunda Slab", serif;
	font-weight: 300;
	background-color: rgb(60, 36, 6);
}
li, p {
	font-family: "Epunda Slab", sans-serif;
}
body {
	background-color: rgb(50, 35, 5);
	color: white;
}
form{
	background-color: rgb(225, 200, 50);
	color: rgb(30, 50, 5);
	margin: 0px 100px;
	max-width: 500px;
	padding: 10px;
	font-family: "Epunda Slab", sans-serif;
}
