/* comic-relief-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Relief';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/comic-relief-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rethink-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rethink Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/rethink-sans-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
img {
  max-width: 300px;
  max-height: 400px;
}
.item p {
  max-width: 300px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.item {
  padding: 10px;
  margin: 10px;
  border: dotted 10px rgb(150, 100, 45);
  background-color: rgb(200, 130, 80);
  border-radius: 5px;
}
h1, h2, h3 {
  font-family: 'Comic Relief', sans-serif;
  padding: 10px;    
}
p {
  font-family: 'Rethink Sans', sans-serif;
  padding: 0px 10px 0px 10px;
}
h1 {
  background-color: rgb(200, 200, 250);
}
.body {
  margin: 10px 50px 20px 50px;
  border: solid 5px rgb(200, 200, 225);
}


/* fluid type scale */

html {font-size: 16px;}

body {
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-weight: 700;
  margin-top: 0;
  font-size: 2.49em;
}

h2,
.text-size-h2 { font-size: 2.07em; }

h3,
.text-size-h3 { font-size: 1.73em; }

h4,
.text-size-h4 { font-size: 1.44em; }

h5,
.text-size-h5 { font-size: 1.2em; }

.text-caption { font-size: 0.83em; }

small,
.text-small {
  font-size: 0.69em;
}
              
