img {
      max-width: 300px;
      max-height: 400px;
}
.item p {
      max-width: 300px;
}
.gallery {
      display: flex;
      flex-wrap: wrap;
}
.item {
      padding: 10px;
      margin: 10px;
      border: dotted 10px rgb(150, 100, 50);
      background-color: rgb(200, 130, 65);
}
