/* comic-relief-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Relief';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/comic-relief-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rethink-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rethink Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/rethink-sans-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
img {
      max-width: 300px;
      max-height: 400px;
}
.item p {
      max-width: 300px;
}
.gallery {
      display: flex;
      flex-wrap: wrap;
}
.item {
      padding: 10px;
      margin: 10px;
      border: dotted 10px rgb(150, 100, 50);
      background-color: rgb(200, 130, 65);
}
h1, h2, h3 {
      font-family: 'Comic Relief', sans-serif;
}
p {
      font-family: 'Rethink Sans', sans-serif;
}
