h1, h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
li, td {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}
th {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}
