/* styles.css */

* {
	font-family: Arial;
}
h1 {
	font-family: "Epunda Slab", serif;
	font-weight: 700;
	font-size: 2em;
	background-color: rgb(10, 100, 60);
	padding: 10px;
}
h2 {
	font-family: "Epunda Slab", serif;
	font-weight: 300;
}
li, p {
	font-family: "Epunda Sans", sans-serif;
}
body {
	background-color: rgb(5, 50, 30);
	color: white;
}
