/* romanesco-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Romanesco';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/romanesco-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rosario-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/rosario-v35-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rosario-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/rosario-v35-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.gallery {
      display: grid;
      grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
      gap: 10px 10px;
}
img, .item p, h3 {
      max-width: 300px;
}
.item {
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 15);
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      border-left: dashed 10px rgb(45, 50, 100);
      border-right: dashed 10px rgb(45, 50, 100);
}
img, h3, .item p {
      background-color: rgb(45, 50, 100);
      margin: 10px;
      padding: 10px;
      border: 10px solid rgb(45, 50, 100);
      border-radius: 10px;
}
.body {
      background-color: rgb(230, 180, 100);
      margin: 10px 20px 10px 20px;
      padding: 10px;
}
h1 {
  font-family: Romanesco, serif;
}
h3 {
  font-family: Rosario, sans-serif;
}
p {
  font-family: Rosario, sans-serif;
}
