.gallery {
      display: grid;
      grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
      gap: 10px 10px;
}
img {
      max-width: 300px;
}
.item {
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 15);
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      border-left: dashed 10px rgb(50, 50, 100);
      border-right: dashed 10px rgb(50, 50, 100);
}
