.gallery {
      display: grid;
      grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
      gap: 10px 10px;
}
img, .item p, h3 {
      max-width: 300px;
}
.item {
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 15);
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      border-left: dashed 10px rgb(50, 50, 100);
      border-right: dashed 10px rgb(50, 50, 100);
}
img, h3, .item p {
      background-color: rgb(50, 50, 100);
      margin: 10px;
      padding: 10px;
      border: 10px solid rgb(50, 50, 100);
      border-radius: 10px;
}
.body {
      background-color: rgb(200, 180, 100);
      margin: 10px 20px 10px 20px;
      padding: 10px;
}
