/* cal-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/cal-sans-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* average-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/average-sans-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.job-listings {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px 10px;
	align-items: end;
	background-color: rgb(250, 250, 250);
	color: black;
	padding: 10px;
	margin: 10px;
}
.job {
	max-width: 300px;
	padding: 10px;
	margin: 10px;
	background-color: white;
}
img {
	max-width: 200px;
	max-height: 200px;
}
.main {
	background-color: deepskyblue;
	color: black;
	padding: 10px;
	margin: auto;
	max-width: 1000px;
}
h1, h2, h3, p {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}
body {
	background-image: url(./images/inflicted.png);
}
h1, h2 {
	font-family: 'Cal Sans', sans-serif;
}
h3, p {
	font-family: 'Average Sans', sans-serif;
}
