.job-listings {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px 10px;
	align-items: end;
	background-color: rgb(250, 250, 250);
	color: black;
	padding: 10px;
	margin: 10px;
}
.job {
	max-width: 300px;
	padding: 10px;
	margin: 10px;
	background-color: white;
}
img {
	max-width: 200px;
	max-height: 200px;
}
.main {
	background-color: deepskyblue;
	color: black;
	padding: 10px;
	margin: 10px;
}
h1, h2, h3, p {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}
