
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/abril-fatface-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/almarai-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/hepta-slab-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
h1 {
	font-family: 'Hepta Slab', 'Abril Fatface', "Tangerine", "Epunda Slab", serif;
	background-color: rgb(55, 60, 80);
	padding: 10px;
	font-size: 3em;
}
h2 {
	font-family: 'Hepta slab', 'Abril Fatface', "Epunda Slab", serif;
	background-color: rgb(55, 60, 80);
	font-size: 2em;
	padding: 5px;
}
h3 {
	font-family: 'Abril Fatface', serif;
	font-size: 1.5em;
}
li, p, ul {
	font-family: Almarai, "Inter", sans-serif;
	max-width: 800px;
	float: left, top;
}
body {
	color: white;
	alpha: .9;
	background-color: black;
	margin-left: 50px;
	margin-right: 50px;
}
form {
	background-color: rgb(225, 200, 50);
	color: rgb(30, 50, 5);
	margin: 0px 100px;
	max-width: 500px;
	padding: 10px;
	font-family: "Epunda Slab", sans-serif;
}
td {
	max-width: 350px;
	padding: 1em 50px;
}
figure {
	max-width: 250px;
	float: right;
	display: inline-block;
}
section {
}
aside {
	float: right;
	max-width: 200px;
	margin: 10px;
	border: solid, 15px, rgb(200, 150, 100);
	padding: 10px;
	background-color: rgb(15, 10, 80);
	border-radius: 8px;
}
main {
	float: left;
	max-width: 500px;
	margin: 10px;
	border: solid, 15px, rgb(200, 150, 100);
	padding: 10px;
	background-color: rgb(15, 10, 80);
	border-radius: 8px
}
a {
	color: rgb(100, 100, 255);
}
ul {
	background-color: rgb(30, 30, 40);
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
}
p {
	border-bottom: 2px, rgb(100, 120, 160), dotted;
}
