body {
	background-color: black;
	padding: 0;
	margin: 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
nav ul li, a {
  background-color: darkred;
  padding: 5px;
  border-radius: 5px;
}
a {
	color: rgb(200, 220, 250);
}
a:visited {
	color: rgb(200, 180, 200);
}
main {
	height: 100%;
	background-color: brown;
	color: ivory;
	margin: 30px 10px 0 10px;
	padding: 30px;
}
footer {
	float: bottom, left;
	padding: 30px;
	background-color: rgb(200, 220, 250);
}
section {
	max-width: 400px;
}
