/* homemade-apple-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/homemade-apple-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bitter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bitter-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bitter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/bitter-v40-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bitter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/bitter-v40-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
	background-color: black;
	padding: 0;
	margin: 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
nav ul li, a {
  background-color: darkred;
  padding: 5px;
  border-radius: 5px;
}
a {
	color: rgb(200, 220, 250);
}
a:visited {
	color: rgb(200, 180, 200);
}
main {
	height: 100%;
	background-color: brown;
	color: ivory;
	margin: 30px 10px 0 10px;
	padding: 30px;
	line-height: 1.5;
}
footer {
	float: bottom, left;
	padding: 30px;
	background-color: rgb(200, 220, 250);
}
section {
	max-width: 300px;
	display: inline-block;
	float: top;
	padding: 10px;
}
nav, main {
	font-family: 'Bitter', serif;
	font-weight: 500;
}
h1 {
	font-family: 'Homemade Apple', serif;
	font-weight: 400;
}
form {
	width: 400px;
	background-color: darkred;
	border-radius: 5px;
	padding: 10px;
}
nav a:hover {
	background-color: red;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
