h1 {
	font-family: "Pangolin", "Tangerine", "Epunda Slab", serif;
	background-color: rgb(55, 80, 50);
	padding: 10px;
}
h2 {
	font-family: "Pangolin", "Epunda Slab", serif;
	background-color: rgb(55, 80, 50);
}
h3 {
	font-family: "Pangolin";
}
li, p {
	font-family: "Inter", sans-serif;
	width: 800px;
}
body {
	background-color: rgb(15, 40, 10);
	color: white;
	alpha: .9;
}
form{
	background-color: rgb(225, 200, 50);
	color: rgb(30, 50, 5);
	margin: 0px 100px;
	max-width: 500px;
	padding: 10px;
	font-family: "Epunda Slab", sans-serif;
}
td {
	max-width: 350px;
	padding: 1em 50px;
}
