h1 {
	font-family: "Pangolin", "Tangerine", "Epunda Slab", serif;
	background-color: rgb(100, 60, 10);
	padding: 10px;
}
h2 {
	font-family: "Pangolin", "Epunda Slab", serif;
	background-color: rgb(60, 36, 6);
}
h3 {
	font-family: "Pangolin";
}
li, p {
	font-family: "Inter", sans-serif;
}
body {
	background-color: rgb(50, 35, 5);
	color: white;
}
form{
	background-color: rgb(225, 200, 50);
	color: rgb(30, 50, 5);
	margin: 0px 100px;
	max-width: 500px;
	padding: 10px;
	font-family: "Epunda Slab", sans-serif;
}
td {
	max-width: 350px;
	padding: 1em 50px;
}
