h1 {
	font-family: "Pangolin", "Tangerine", "Epunda Slab", serif;
	background-color: rgb(55, 80, 50);
	padding: 10px;
	font-size: 3em;
}
h2 {
	font-family: "Pangolin", "Epunda Slab", serif;
	background-color: rgb(55, 80, 50);
	clear: left;
	font-size: 2em;
}
h3 {
	font-family: "Pangolin";
	clear: left;
	font-size: 1.5em;
}
li, p {
	font-family: "Inter", sans-serif;
	width: 800px;
	float: left, top;
}
body {
	background-color: rgb(15, 40, 10);
	color: white;
	alpha: .9;
}
form{
	background-color: rgb(225, 200, 50);
	color: rgb(30, 50, 5);
	margin: 0px 100px;
	max-width: 500px;
	padding: 10px;
	font-family: "Epunda Slab", sans-serif;
}
td {
	max-width: 350px;
	padding: 1em 50px;
}
figure {
	max-width: 250px;
	float: right;
	clear: right;
	display: inline-block;
}
section {
	border: solid, 15px, rgb(225, 200, 50);
	padding: 10px;
}
